babel==2.16.0
bloxone==0.9.0rc3
certifi==2024.2.2
charset-normalizer==3.3.2
click==8.1.7
click-option-group==0.5.6
coloredlogs==15.0.1
contourpy==1.2.1
cycler==0.12.1
dnspython==2.6.1
docxcompose==1.4.0
docxtpl==0.18.0
fonttools==4.51.0
humanfriendly==10.0
ibx-sdk @ git+https://github.com/Infoblox-PS/ibx-sdk.git@5ef46de6693881d24acb1cbfac363529408037b7
idna==3.6
infoblox-docgen @ file:///Users/mragusa/infoblox-docgen-main
Jinja2==3.1.4
kiwisolver==1.4.5
lxml==5.3.0
markdown-it-py==3.0.0
MarkupSafe==2.1.5
matplotlib==3.8.4
mdurl==0.1.2
netaddr==1.2.1
numpy==1.26.4
packaging==24.0
pandas==2.2.2
pexpect==4.9.0
pillow==10.3.0
ptyprocess==0.7.0
Pygments==2.18.0
pyparsing==3.1.2
python-dateutil==2.9.0.post0
python-docx==1.1.2
pytz==2024.1
PyYAML==6.0.2
requests==2.31.0
rich==13.7.1
scapy==2.5.0
setuptools==72.1.0
six==1.16.0
tqdm==4.66.2
typing_extensions==4.12.2
tzdata==2024.1
urllib3==2.2.1
wheel==0.44.0
